<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.datacoper">
    <resources>
        <!-- Base libs -->
        <resource-root path="axis.jar"/>        
        <resource-root path="barbecue-1.5-beta1.jar"/>
        <resource-root path="barcode4j-2.0.jar"/>
        <resource-root path="commons-beanutils-1.8.2.jar"/>
        <resource-root path="commons-codec-1.3.jar"/>
        <resource-root path="commons-collections-3.2.1.jar"/>
        <resource-root path="commons-dbutils-1.6.jar"/>
        <resource-root path="commons-digester-1.7.jar"/>
        <resource-root path="commons-discovery-0.5.jar"/>
        <resource-root path="commons-httpclient-3.1.jar"/>
        <resource-root path="commons-javaflow-20060411.jar"/>
        <resource-root path="commons-lang3-3.3.2.jar"/>
        <resource-root path="commons-lang-2.4.jar"/>
        <resource-root path="commons-logging-1.2.jar"/>
        <resource-root path="glassfish-corba-omgapi-4.0.1.jar"/>
        <resource-root path="iText-2.1.7.jar"/>
        <resource-root path="jasperreports-4.0.0.jar"/>
        <resource-root path="jasperreports-chart-themes-4.0.0.jar"/>
        <resource-root path="jasperreports-extensions-3.5.3.jar"/>
        <resource-root path="jasperreports-fonts-4.0.0.jar"/>
        <resource-root path="poi-3.6-20091214.jar"/>
        <resource-root path="serializer.jar"/>
        <resource-root path="wsdl4j-1.5.1.jar"/>
        <resource-root path="xmlbeans-2.5.0.jar"/>
        <resource-root path="xbean.jar"/>
        <resource-root path="xmlpublic.jar"/>
        <resource-root path="spring.jar"/>

        <!-- Jersey -->
        <resource-root path="jersey-client-2.10.1.jar"/>
        <resource-root path="jersey-common-2.10.1.jar"/>
        <resource-root path="jersey-media-json-jackson-2.10.1.jar"/>
        <resource-root path="jersey-media-moxy-2.10.1.jar"/>
        <resource-root path="jersey-media-multipart-2.10.1.jar"/>
        <resource-root path="jersey-proxy-client-2.10.4.jar"/>
        <resource-root path="jersey-guava-2.10.1.jar"/>
        
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="javax.xml.bind.api"/>
        <module name="javax.ws.rs.api"/>
        <module name="javax.xml.soap.api"/>
        <module name="javax.xml.rpc.api"/>
        <module name="javax.mail.api"/>
        <module name="org.apache.xalan"/>
        <module name="com.fasterxml.jackson.core.jackson-core"/>
        <module name="com.fasterxml.jackson.core.jackson-annotations"/>
        <module name="com.fasterxml.jackson.core.jackson-databind"/>
        <module name="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider"/>
    </dependencies>
</module>